body{
	background: rgb(255,184,0);
	background: linear-gradient(90deg, rgba(255,184,0,1) 0%, rgba(255,226,0,1) 50%, rgba(255,188,0,1) 100%);
}

.titulo{
	font-family: fantasy; 
    font-size: 200px; 
    position:relative; 
    text-align: center;
    top: -60px;
}

.texto{
	font-family:sans-serif ; 
    font-size: 100px; 
    position: relative; 
    text-align: center;
    top: -100px;
}

.image{
    position: absolute;
    left: 50%;
    top: 800px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

}